@charset "utf-8";
/* here goes the classes & sub-classes */

#navMain .navRef {
	color: #C66;
	float: right;
	opacity: 0.25;
	margin: 0 1px;
	padding: 2px 10px;
	display: table-cell;
	font: 16px "Arial Black";
	border-radius: 5px 5px 0 0;
	background: url(../img/texture.png);
}
#navMain .navRef:hover {
	color: #EEE;
	text-outline: #C66;
}
.footNote {
	width: 33%; padding-top: 3em;
	display: table-cell; text-align: center;
	font: 10px Verdana; color: #666;
}
.footNoteButton {
	padding: 1em;
	margin: 0 3em;
}
.footNoteButton:hover {
	color: #933; cursor: pointer;
	text-shadow: 0px 0px 2px #CCC;
	box-shadow: 0px 0px 10px #ACE;
}
