@charset "utf-8";
/* DIV layout/style management */

#main { width: 800px; height: inherit; margin: auto; }
  #container { height: inherit; width: inherit; }
	#header { height: 30%; width: inherit; display: table; }
	  #sign { display: table-cell; vertical-align: bottom; padding-bottom: 2%; }
	    #name { font: 64px Raleway; color: #69C; }
	    #addr { font: 20px "Courier New"; color: rgba(32,32,32,0.25);}
	  #navMain { display: table-cell; vertical-align: bottom; padding-right: 15px; position: relative; }
	#content { height: 55%; width: 100%; overflow: auto; position: relative; }
	#footer { height: 15%px; width: inherit; display: table; }
